@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
/* nav bar css start */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.navbar {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    color:rgb(197, 193, 193);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:rgb(197, 193, 193);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color: rgb(197, 193, 193);
    margin:5px;
}
@media screen and (max-width:1024px){
    body{
        overflow: hidden;
    }
}
.nav-links{
    width: 60%;
}

@media screen and (max-width:780px){
    .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
a:hover {
    color: crimson;
}
/* navbar css end */
.image h1 {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 42 px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.image h2 {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 34 px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.image {
    display: flex;
    align-items: center;
    flex-direction: column;   
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.subjects {
    font-family: 'Lato', sans-serif;
    font-size: 25 px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.subjects h1 {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 27;
}

.interests {
    font-family: 'Lato', sans-serif;
    font-size: 25 px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.interests h1 {
    font-family: 'Lexend Giga', sans-serifs;
    font-size: 27;
}

.interests ul {
    text-indent: 30px;
}

.interests p {
    text-indent: 15px;
}


