@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
/* nav bar css start */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.navbar {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color:rgb(197, 193, 193);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color:rgb(197, 193, 193);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display:none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height:3px;
    background-color: rgb(197, 193, 193);
    margin:5px;
}
@media screen and (max-width:1024px){
    body{
        overflow: hidden;
    }
}
.nav-links{
    width: 60%;
}

@media screen and (max-width:780px){
    .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
a:hover {
    color: crimson;
}   
/* navbar css end */
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.column {
    float: left;
    width: 24.79%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 2px;
    font-family: 'Lexend Giga', sans-serif;
}

.containerTab {
    padding: 20px;
    color: white;
}

.containerTab h2 {
    font-family: 'Lexend Giga', sans-serif;
}

.containerTab p {
    font-family: 'Lato', sans-serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the container tab */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
.image {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}
.image img {
    width: 24.84%;
    max-height: 170px;
    margin: 0;
}

.image h1 {
    font-family: 'Lexend Giga';
    padding: 10px;
    text-align: center;
}
.AAAAAAAAAAAAAAA img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.popout {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}
.popout p {
    font-size: 20px;
}

.popout h2 {
    font-size: 35px;
}

.AAAAAAAAAAAAAAA {
    opacity: 0;
    display: none;
    transition: opacity 2s ease-in;
}

.loader { 
    width: 50px;
    position: fixed;
    left: calc(50vw - 25px);
    top: calc(50vh - 25px);
 }
 
