header{ 
    padding: 10px;
    background-color: crimson;
    text-align: center;
}

header img{
    display: block;
    margin: 0 auto 0 auto;
}

body {
    -webkit-animation: colorchange 60s infinite;  
    animation: colorchange 60s infinite;  
}

@-webkit-keyframes colorchange {
    0%  {background: #33ccff;}
   25%  {background: #ff99ff;}
   50%  {background: #9900ff;}
   75%  {background: #6666ff;}
   100% {background: #3366ff;}
}

@keyframes colorchange {
    0%  {background: #3399ff;}
   25%  {background: #cc99ff;}
   50%  {background: #cc33ff;}
   75%  {background: #6666ff;}
   100% {background: #3399ff;}
}   


